@charset "utf-8";
 @media print {
.container, .inner-content-portion {
	width:100% !important;
}
.header-container {
	border-bottom:2px solid #000 !important;
	width:98% !important;
	padding:0;
	text-align:center!important;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	color:#000 !important;
}
body p {
	line-height:22px !important;
}
.top-wrapper,.region-header-top,.breadcrumb_main, 
.nav-wrapper,.innertop-menu,.toggle-nav-bar,.menu-text, 
.footer-top-wrapper,  
.footer-bottom-wrapper,  
.header-right,  
.banner-wrapper,  
.carousel-wrapper {
	display:none !important;
}
.logo {
	padding: 10px 0!important;
}

h1.logo:before {
	content: url(../images/emblem-dark.png);
	float:left;
	margin-right:10px;
}
.body-container ul.list li {
	position:relative;
}
.body-container ul.list li:before {
	content:url(../images/blt.png);
	margin-right:5px;
	float:left;
	position:absolute;
	top:0px;
	left:0px;
}


}
